extends ../../layout

block content
	h1 Edit cfEngine personas

	form(action='/cf/personas/#{personas.id}', method='POST')
		dl
			dt Name
			dd
				input(type='text', name='name', value='#{personas.name}')
		dl.classes
			dt Classes
			each name in personas.classes
				dd
					input(type='text', name='classes[]', value='#{name}')
			dd
				input(type='text', name='classes[]', value='')

		.btn-group
			input.btn.btn-default(type='submit', value='Save')

block append body_scripts
	script(type="text/javascript").
		jQuery(document).on('focus', 'dl.classes > dd:last > input[name^=classes]',
			function () {
				jQuery(this).parent('dd').clone().appendTo('dl.classes');
			});
