extends ../../layout

block content
	h1 Create cfEngine personas

	form(action='/cf/personas', method='POST')
		dl
			dt Name
			dd
				input(type='text', name='name', value='')
			dt Classes
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')
			dd
				input(type='text', name='classes[]', value='')

		.btn-group
			input.btn.btn-default(type='submit', value='Save')
