extends ../layout

block content
	h1 Environments

	if environments
		dl
			each environment in environments
				dt= environment.name
				dd
					a(href="/environment/#{environment.id}")= environment.id
			else
				dt There are currently no environments
		.btn-group
			a.btn.btn-default(href="/environment/new") create new
