extends ../layout

block content
	h1 Create environment

	form(action='/environment', method='POST')
		dl
			dt Name
			dd
				input(type='text', name='name', value='')
			dt Cloud Options
			dl
				dt URL
				dd
					input(type='text', name='pkgcloud_options[url]', value='')
				dt Account
				dd
					input(type='text', name='pkgcloud_options[account]', value='')
				dt Key-Id
				dd
					input(type='text', name='pkgcloud_options[keyId]', value='')
				dt Key (optional)
				dd
					input(type='text', name='pkgcloud_options[key]', value='')
				dt Cache timeout (seconds)
				dd
					input(type='text', name='pkgcloud_options[cacheExpiry]', value='300')

			.btn-group
				input.btn.btn-default(type='submit', value='Save')
